body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

div.panel {
    border: 1px solid #cccccc;
    padding: 1em 2em;
}

div.warning {
    padding: 0em 2em;
    display: inline-block;
    background-color: #eeeeff;
}

div.warning p:first-child::before { content: "\26a0  "; }

div.inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

textarea#code {
    width: 40em;
    font-family: monospace;
    border-style: none;
    background-color: #dddddd;
}

button.copy::before { content: "\1f4cb  "; }
